/* Colors */
.bg-rakh-rato {
  background-color: #e60000; /* Nepali red */
}
.bg-rakh-seto {
  background-color: #ffffff;
}
.bg-rakh-kalo {
  background-color: #000000;
}

.text-rato {
  color: #e60000;
}
.text-seto {
  color: #ffffff;
}
.text-kalo {
  color: #000000;
}

/* Typography */
.sano-rakh {
  font-size: 12px;
}
.madhyam-rakh {
  font-size: 16px;
}
.thulo-rakh {
  font-size: 24px;
}
